<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>

        <div class="f-info-brands">&copy;  2024 Airbnb, Inc.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy,</a>
            <a href="/terms">Terms,</a>
            <a href="/sitemap">Sitemap,</a>
            <a href="/compantdetails">Company details</a>

        </div>

    </div>
</footer>